@import url("file:///home/reign/.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font", "Roboto", sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(30, 40, 60, 0.3);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 6px;
  margin-right: 4px;
  border-radius: 10px;
  opacity: 0.88;
}

#workspaces button {
  color: @foreground;
  border-radius: 6px;
  font-weight: bold;
  margin: 0;
  padding: 4px 8px;
  border-bottom: 2px solid @color5;
}

#workspaces button:hover {
  background: @color3;
  color: @background;
  border-bottom: 2px solid @color5;
}

#workspaces button.focused {
  background: @color2;
  color: @background;
  border-bottom: 2px solid @color5;
  font-weight: bold;
}

#workspaces button.focused:hover {
  background: @color4;
  color: @foreground;
  border-bottom: 2px solid @color5;
}

#workspaces button.urgent {
  background-color: @color1;
}

#mode {
  background-color: @color4;
  border-bottom: 2px solid @color5;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-brightness,
#network,
#pulseaudio,
#custom-media,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: @foreground;
}

#custom-system {
  background-color: @color4;
  color: @background;
  padding: 2px 10px;
  border-radius: 10px;
  margin-right: 8px;
  font-size: 13px;
}

#custom-media_prev,
#custom-media_toggle,
#custom-media_next {
  font-size: 18px;
  padding: 0 6px;
  margin: 0 2px;
}

#pulseaudio,
#battery,
#network,
#clock,
#tray,
#custom-power,
#power-profiles-daemon,
#custom-wifi {
  padding: 0 6px;
  font-size: 13px;
  margin: 0 2px;
  border-radius: 6px;
  background-color: transparent;
  color: @foreground;
}

#battery.charging {
  background-color: @color2;
  color: @background;
}

label:focus {
  background-color: @background;
}

#network.disconnected {
  color: @color1;
}

#pulseaudio.muted {
  color: @color1;
}

#temperature.critical {
  background-color: @color1;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: @foreground;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: @foreground;
}

#language {
  color: @foreground;
  min-width: 16px;
}

#keyboard-state {
  background: @color2;
  color: @background;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
